<footer class="page-footer">
	<div class="container">
		<div class="row">
			<div class="col l6 s12">
				<h5 class="white-text">Footer Content</h5>
				<p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer
					content.</p>
			</div>
			<div class="col l4 offset-l2 s12">
				<h5 class="white-text">Réseaux Sociaux</h5>
				<ul>
					<li>
						<a class="blue-text" href="/">
							<i mz-icon-mdi
							   style="width: 20px; height: 20px;"
							[icon]="'facebook'"
							[size]="'small'"></i>
							<span style="position: absolute; margin-top: 2px; margin-left: 5px;"> Facebook </span>
						</a>
					</li>
					<li>
						<a class="red-text" href="/">
							<i mz-icon-mdi
							   style="width: 20px; height: 20px;"
							   [icon]="'instagram'"
							   [size]="'small'"></i>
							<span style="position: absolute; margin-top: 2px; margin-left: 5px;"> Instagram </span>
						</a>
					</li>
					<li>
						<a class="yellow-text" href="/">
							<i mz-icon-mdi
							   style="width: 20px; height: 20px;"
							   [icon]="'snapchat'"
							   [size]="'small'"></i>
							<span style="position: absolute; margin-top: 2px; margin-left: 5px;"> Snapchat </span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			© {{ year }} MotherAssistants
			<a class="grey-text text-lighten-4 right" href="#!">More Links</a>
		</div>
	</div>
</footer>
