<ma-menu [selected]="'home'" [role]="role"></ma-menu>
<main>
    <div class="container-fluid">
        <div class="row">
            <div class="section white">
                <div class="row container">
                    <div class="col-12">
                        <h1><img src="/assets/images/logo-web-transparent.png" alt="Mother-Assistants" class="responsive-img"/>
                        </h1>
                        <p>
                            Cette application vous servira à répertorier les enfants que vous gardez à un seul endroit,
                            ainsi que leur parents et les informations qui les concernent.<br>
                            ainsi, vous pourez communiquer avec les parents sur l&#x27;application, poster des photos
                            accessibles par les 2 parents, ainsi que noter les différents activitées pratiqués la
                            journée, les repas, les besoins, etc<br>
                            tout ça sous forme de calandrier, ce qui rend plus simple la recherche d&#x27;un évenement
                            en particulier <br>
                        </p>
                    </div>
                </div>
            </div>
            <mz-parallax [height]="400">
              <img src="/assets/images/mon-enfant-ne-mange-que-chez-la-nounou.jpg">
            </mz-parallax>
            <div class="section white">
                <div class="row container">
                    <div class="col-12">
                        <h2><img src="/assets/images/logo-web-transparent.png" alt="Mother-Assistants" class="responsive-img"/>
                        </h2>
                        <p>
                            Cette application vous servira à répertorier les enfants que vous gardez à un seul endroit,
                            ainsi que leur parents et les informations qui les concernent.<br>
                            ainsi, vous pourez communiquer avec les parents sur l&#x27;application, poster des photos
                            accessibles par les 2 parents, ainsi que noter les différents activitées pratiqués la
                            journée, les repas, les besoins, etc<br>
                            tout ça sous forme de calandrier, ce qui rend plus simple la recherche d&#x27;un évenement
                            en particulier <br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<ma-footer></ma-footer>
